/* Elvish Icon: arrow-right */
:root {
  --icon-arrow-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14M12 5l7 7-7 7'/%3E%3C/svg%3E");
}
i-thann[icon="arrow-right"] { -webkit-mask-image: var(--icon-arrow-right); mask-image: var(--icon-arrow-right); }
