/* Elvish Icon: chevron-right */
:root {
  --icon-chevron-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9 18l6-6-6-6'/%3E%3C/svg%3E");
}
i-thann[icon="chevron-right"] { -webkit-mask-image: var(--icon-chevron-right); mask-image: var(--icon-chevron-right); }
