/* Elvish Icon: chevron-left */
:root {
  --icon-chevron-left: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M15 18l-6-6 6-6'/%3E%3C/svg%3E");
}
i-thann[icon="chevron-left"] { -webkit-mask-image: var(--icon-chevron-left); mask-image: var(--icon-chevron-left); }
