/* Elvish Icon: filter */
:root {
  --icon-filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolygon points='22,3 2,3 10,12.46 10,19 14,21 14,12.46'/%3E%3C/svg%3E");
}
i-thann[icon="filter"] { -webkit-mask-image: var(--icon-filter); mask-image: var(--icon-filter); }
