/* All icons - not recommended for production */
@import './arrow-up.css';
@import './arrow-down.css';
@import './arrow-left.css';
@import './arrow-right.css';
@import './chevron-up.css';
@import './chevron-down.css';
@import './chevron-left.css';
@import './chevron-right.css';
@import './menu.css';
@import './menu-dots.css';
@import './external.css';
@import './search.css';
@import './plus.css';
@import './minus.css';
@import './edit.css';
@import './trash.css';
@import './copy.css';
@import './download.css';
@import './upload.css';
@import './share.css';
@import './refresh.css';
@import './check.css';
@import './check-circle.css';
@import './x.css';
@import './x-circle.css';
@import './info.css';
@import './warning.css';
@import './error.css';
@import './loading.css';
@import './play.css';
@import './pause.css';
@import './stop.css';
@import './volume.css';
@import './volume-mute.css';
@import './fullscreen.css';
@import './home.css';
@import './user.css';
@import './users.css';
@import './settings.css';
@import './mail.css';
@import './bell.css';
@import './calendar.css';
@import './clock.css';
@import './star.css';
@import './star-filled.css';
@import './heart.css';
@import './heart-filled.css';
@import './eye.css';
@import './eye-off.css';
@import './lock.css';
@import './unlock.css';
@import './filter.css';
@import './grid.css';
@import './list.css';
