/* Elvish Icon: loading */
:root {
  --icon-loading: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M21 12a9 9 0 11-6.219-8.56'/%3E%3C/svg%3E");
}
i-thann[icon="loading"] { -webkit-mask-image: var(--icon-loading); mask-image: var(--icon-loading); }
