/* Elvish Icon: menu-dots */
:root {
  --icon-menu-dots: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black'%3E%3Ccircle cx='12' cy='5' r='2'/%3E%3Ccircle cx='12' cy='12' r='2'/%3E%3Ccircle cx='12' cy='19' r='2'/%3E%3C/svg%3E");
}
i-thann[icon="menu-dots"] { -webkit-mask-image: var(--icon-menu-dots); mask-image: var(--icon-menu-dots); }
