/* Elvish Icon: menu */
:root {
  --icon-menu: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3 12h18M3 6h18M3 18h18'/%3E%3C/svg%3E");
}
i-thann[icon="menu"] { -webkit-mask-image: var(--icon-menu); mask-image: var(--icon-menu); }
