/* Elvish Icon: pause */
:root {
  --icon-pause: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black'%3E%3Crect x='6' y='4' width='4' height='16'/%3E%3Crect x='14' y='4' width='4' height='16'/%3E%3C/svg%3E");
}
i-thann[icon="pause"] { -webkit-mask-image: var(--icon-pause); mask-image: var(--icon-pause); }
