/* Elvish Icon: play */
:root {
  --icon-play: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black'%3E%3Cpolygon points='5,3 19,12 5,21'/%3E%3C/svg%3E");
}
i-thann[icon="play"] { -webkit-mask-image: var(--icon-play); mask-image: var(--icon-play); }
