/* Elvish Icon: star-filled */
:root {
  --icon-star-filled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black'%3E%3Cpolygon points='12,2 15.09,8.26 22,9.27 17,14.14 18.18,21.02 12,17.77 5.82,21.02 7,14.14 2,9.27 8.91,8.26'/%3E%3C/svg%3E");
}
i-thann[icon="star-filled"] { -webkit-mask-image: var(--icon-star-filled); mask-image: var(--icon-star-filled); }
