/* Elvish Icon: stop */
:root {
  --icon-stop: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black'%3E%3Crect x='4' y='4' width='16' height='16'/%3E%3C/svg%3E");
}
i-thann[icon="stop"] { -webkit-mask-image: var(--icon-stop); mask-image: var(--icon-stop); }
