/* Elvish Icon: volume-mute */
:root {
  --icon-volume-mute: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolygon points='11,5 6,9 2,9 2,15 6,15 11,19'/%3E%3Cpath d='M23 9l-6 6M17 9l6 6'/%3E%3C/svg%3E");
}
i-thann[icon="volume-mute"] { -webkit-mask-image: var(--icon-volume-mute); mask-image: var(--icon-volume-mute); }
